@use 'sass:meta';
@use '../../../node_modules/@n8d/htwoo-core/lib/sass/01-atoms/icons/index' as hooIcons;
@use '../../../node_modules/@n8d/htwoo-core/lib/sass/01-atoms/buttons/index' as hooButtons;
@use '../../../node_modules/@n8d/htwoo-core/lib/sass/01-atoms/input/index' as hooInput;
@use '../../../node_modules/@n8d/htwoo-core/lib/sass/02-molecules/dialogs/index' as hooMoleculesDialogs;
@use '../../../node_modules/@n8d/htwoo-core/lib/sass/02-molecules/menu/index' as hooMenu;
@use '../../../node_modules/@n8d/htwoo-core/lib/sass/03-organism/dialog/index' as hooOrganismsDialogs;


// Core stuff
@use '00-base/index' as base;
// Atoms
@use '01-atoms/index' as atoms;
// Molecules
@use '02-molecules/index' as molecules;
// Organisms
@use '03-organsim/index' as organisms;
@include meta.load-css('../../../node_modules/@n8d/htwoo-core/lib/sass/02-molecules/menu');

// :root body .sample{
//   font-family: $default-font-name;font-family
// }



// .hoo-icon-svg{
//     fill: currentColor;
//     height: 2rem;
//     width: 2rem;;
// }

// .hoo-dlgcontent{
// 	box-sizing: border-box;
// 	padding: 0 core.px2rem(20px) core.px2rem(16px);

// 	border: transparent 1px solid;
// 	overflow: auto;
// 	max-height: calc(100vh - 5rem);
// }

//Overwrite playlist controls to center content
.hoo-select-text {
    font-size: 0.875rem;
    line-height: 1.875rem;
    box-sizing: border-box;
    width: auto;
    margin: 0;
    padding: 0 0.5rem;
    border: 1px var(--neutralSecondary) solid;
    border-radius: 2px;
    outline: 1px rgba(255, 255, 255, 0) solid;
    background-color: var(--white);
    color: var(--neutralPrimary);
    width: calc(100% - 2rem);
    border: none;
    text-align: center;
  }


  .hoo-option {
    font-size: 14px;
    display: flex;
    flex-wrap: nowrap;
    text-overflow: ellipsis;
    height: 2.25rem;
    padding: 0 0.5rem;
    color: var(--neutralPrimary);
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
  }